/*Css Codes for the Website */
*{
    margin:0 auto;
}
html,
body,
header,
main,
footer{
    margin:0 auto;
    padding:0px;
}
nav{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.brand-logo{
    margin-left:8px;
    font-size:16px;
    font-family:"Open Sans",sans-serif;
    padding:0px 0px 0px 0px;
}

/* Styling the Body of the index page*/
#slider_main{
    margin-top:-1px;
    margin-left:0px;
    margin-right:0px;

}
.slider .indicators{
    bottom:60px;
    z-index: 100;
}
.slider .indicators .indicator-item.active{
    background-color:#424242;
}
ul.slides li{
    height:570px;
    margin-bottom:0;
}
#about_explore{
    height:200px;
    background:url("../images/aa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#skill_set{
    height:200px;
    background:url("../images/skill.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#gallery_set{
    height:200px;
    background:url("../images/gallery.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#services_set{
    height:200px;
    background:url("../images/aa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pos{
    margin-right:20px;
    margin-top:5px;
}
#about_button,#skill_button,#gallery_button,#services_button{
    font-size: 14px;
    padding-bottom: 5px;
    padding-top:-10px;
    text-align: center;
    font-family:'Open Sans',sans-serif;
    border:1px solid cornflowerblue;
    text-transform: capitalize;
    margin-top:-8px;
}
#person_logo{
    position: absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:125px;
    height:125px;
    background: url("../images/aa.jpg");
    -webkit-background-size:cover;
    background-size:cover;
    /*-webkit-animation-name: FlipX;*/
    /*-moz-animation-name: FlipX;*/
    /*-o-animation-name: FlipX;*/
    /*animation-name: FlipX;*/
    /*-webkit-animation-duration: 1s;*/
    /*-moz-animation-duration: 1s;*/
    /*-o-animation-duration: 1s;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 1s;*/
    /*-webkit-animation:FlipX;*/
    /*-o-animation:FlipX;*/
    /*animation:FlipX 3000ms;*/
    /*-webkit-animation-direction: alternate;*/
    /*-moz-animation-direction: alternate;*/
    /*-o-animation-direction: alternate;*/
    /*animation-direction: alternate;;*/
}
#person_body{
    margin-top:60px;
    background-color: #eeeeee;
}
div.content{
    margin-top:50px;
}
div.content>p{
    font-size:16px;
}
