/*Css Codes for the Website */
*{
    margin:0 auto;
}
html,
body,
header,
main,
footer{
    font-family:'Open Sans',sans-serif;
    margin:0 auto;
    padding:0px;
}
nav{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
nav ul li.active{
    background-color:black;
}
.brand-logo{
    margin-left:8px;
    font-size:16px;
    font-family:"Open Sans",sans-serif;
    font-weight: 600;
    padding:0px 0px 0px 0px;
}

/* Styling the Body of the index page*/
#slider_main{
    margin-top:-1px;
    margin-left:0px;
    margin-right:0px;

}
.slider .indicators{
    bottom:60px;
    z-index: 100;
}
.slider .indicators .indicator-item.active{
    background-color:#424242;
}
ul.slides li{
    height:570px;
    margin-bottom:0;
}
#about_explore{
    height:200px;
    background: url("../images/aa.jpg") no-repeat center;
    background-size: cover;
}
#skill_set{
    height:200px;
    background: url("../images/skill.jpg") no-repeat center;
    background-size: cover;
}
#gallery_set{
    height:200px;
    background: url("../images/gallery.jpg") no-repeat center;
    background-size: cover;
}
#services_set{
    height:200px;
    background: url("../images/aa.jpg") no-repeat center;
    background-size: cover;
}
.pos{
    margin-right:20px;
    margin-top:5px;
}
#about_button,#skill_button,#gallery_button,#services_button{
    font-size: 14px;
    padding-bottom: 5px;
    padding-top:-10px;
    text-align: center;
    font-family:'Open Sans',sans-serif;
    border:1px solid cornflowerblue;
    text-transform: capitalize;
    margin-top:-8px;
}
#person_logo{
    position: absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:125px;
    height:125px;
    background: url("../images/aa.jpg");
    -webkit-background-size:cover;
    background-size:cover;
    /*-webkit-animation-name: FlipX;*/
    /*-moz-animation-name: FlipX;*/
    /*-o-animation-name: FlipX;*/
    /*animation-name: FlipX;*/
    /*-webkit-animation-duration: 1s;*/
    /*-moz-animation-duration: 1s;*/
    /*-o-animation-duration: 1s;*/
    /*animation-duration: 1s;*/
    /*animation-delay: 1s;*/
    /*-webkit-animation:FlipX;*/
    /*-o-animation:FlipX;*/
    /*animation:FlipX 3000ms;*/
    /*-webkit-animation-direction: alternate;*/
    /*-moz-animation-direction: alternate;*/
    /*-o-animation-direction: alternate;*/
    /*animation-direction: alternate;;*/
}
#person_body{
    margin-top:60px;
    background-color: #eeeeee;
}
div.content{
    margin-top:50px;
}
div.content>p{
    font-size:16px;
}
div.gallery-header{
    font-size:16px;
}
div.chip{
    cursor: pointer;
}
.tabs .tab a:hover, .tabs .tab a.active{
    background-color: transparent;
    color: #757575 !important;
}
.tabs .tab a{
    color:#757575 !important;
}
.tabs .indicator{
    background-color:#424242 !important;
}
.frame{
    height: 240px;
    width:280px;
    overflow: hidden;
}
.wallpaper-frame{
    height:350px;
    width:100%;
    overflow: hidden;
}
.zoomin img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.zoomin img:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;

}
img.wallpaper{
  margin-top:-15px;
}

/* Skill Set and Services Codes */
p.skill_text{
    font-size:20px;
    margin-top:10px;
}
p.skill_body{
    font-size:16px;
    margin-top:15px;
}

/* Codes for the contact pane */
section#contact_form{
    margin-top:40px;
}
.input-field .prefix{
    color: #BEBEBE;
}
input[type="text"]:focus:not([readonly]) + label{
    color: #424242;
}
/*.input-field input[type="text"]:focus{*/
    /*border-bottom:2px solid #424242;*/
/*}*/
.input-field .prefix.active{
    color: #424242;
}
button.submit{
    margin-left:56px;
}
div.info_margin{
    margin-left:21px;
}
div.divider{
    margin-bottom:5px;
    margin-top: 3px;
}
/* Codes for the Footer Stylings*/
ul.footer-links{
    margin-left:28px;
}
ul.footer-links li{
    list-style: none none;
    text-decoration: none;
}
ul.footer-links li a{
    color:white;
}